@media screen and (max-width: 1460px) {
    #nameDiv input {
        width: 215px;
    }
}

@media screen and (max-width: 1420px) {
    #nameDiv input {
        width: 200px;
    }
}

@media screen and (max-width: 1350px) {
    #highscore {
        width: 20%;
    }

    #nameDiv input {
        width: 100%;
    }

    #nameDiv button {
        width: 100%;
        max-width: none;
    } 

    #nameInput {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-width: fit-content;
        gap: 0px;
      }

    #highscoreList {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #highscoreList h3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ol {
        padding: 5px 0 5px 10px;
        width: auto;
    }
}

@media screen and (max-width: 1275px) {
    #showHistory p {
        font-size: 0.77rem;
    }
}
@media screen and (max-width: 1130px) {
    #highscore {
        width: 19%;
        min-width: 230px;
    }

    #showHistory p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1095px) {
    body {
        background-size: 0px, 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        background: none;
        background-image: url(../images/background-1.png);
        background-size: 100%;
        background-origin: bottom;
        background-position: bottom;
    }

    .container {
        width: 80%;
        height: 100%;
        min-width: min-content;
        padding: 20px 0;
        border:none;
        background: none;
    }

    .reset {
        width: 540px;
        height: 63px;
    }

    #title {
        justify-content: center;
        gap: 26px
    }

    #highscore {
        max-height: 73%;
    }
}

@media screen and (max-width: 950px) {
    
    body {
        display: flex;
        flex-direction: column;
    }

    #highscore {
        width: 500px;
        position: relative;
        border-radius: 10px;
        border-right: 4px solid rgb(1, 4, 179);
        margin-bottom: 15px;
    }

    #nameInput {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    #nameDiv input {
        width: 350px;
        max-width: none;
    }

    #nameDiv button {
        max-width: fit-content;
        padding: 5px 7px 5px 7px;
    } 
}

@media screen and (max-width: 661px) {
    
    #title img {
        display: none;
    }

    .container {
        position: center;
    }
}

@media screen and (max-width: 605px) {

    body {
        position:absolute center;
        margin-left: 25px;
    }
}